body {
    font-family: 'Balsamiq Sans', cursive;
    background-color: #F0D3F7;
}
.flexbox {
    display: flex;
    margin: 5%;
    font-family: 'Balsamiq Sans', cursive;
}
header {
    font-size: 30px;
    font-weight: bold;
    color: #302F4D;
    border-bottom: 2px solid #B98EA7;
    padding-bottom: 15px;
}
form {
    margin-top: 20px;
}
.sidebar {
    color: #120D31;
    width: 20%;
}
.vl {
    border: 3px solid #B98EA7;
    border-radius: 5px;
    height: 105vh;
    margin-left: 30px;
    margin-top: -50px;
    top: 0;
}
.books {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    color: #120D31;
}
.books {
    width: 70%;
}
.cardDesign {
    background-color: #8391eb;
    border: 1px solid #495080;
    border-radius: 5px;
    padding: 15px 25px;
    margin-bottom: 30px;
}
.bookTitle {
    font-size: 30px;
    padding-bottom: 10px;
}
.middle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-right: 5px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}